body {
  background-image: url("assets/thorofare-blurred.png");
  background-size: 100%;
}

h1{
  color: black;
  text-align: center;
}

h2{
  color: black;
  margin-top: -30px;
  text-align: center;
}

h3{
  color: black;
  margin-top: -10px;
  text-align: center;
}

.icons{
  position: relative;
}
